:root{
    --bg-color: rgb(20, 18, 11);
    --txt-color:#edecec;
    --max-w:1300px;
}
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Italianno&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-color);
    font-family:  "Carrois Gothic", sans-serif;
    height: 120vh;
    color: var(--txt-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
}

nav{
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1300px;
    height: 52px;
}

.logo {
    padding: 5px 0px;
}

.midle-nav ul{
    display: flex;
    justify-content: space-between;
    margin-left: 55px;


    
}

.midle-nav ul li{
    list-style: none;
}

.midle-nav ul a{
    text-decoration: none;
    color: var(--txt-color);
    padding: 5.6px 15px;
    font-size: 14px;
    
}

.midle-nav ul a:hover{
    color:#9e9e9e ;
}


.end-nav{
    display: flex;
    justify-content: center;
    gap: 7.5px;
}


#but-one{
  background-color: var(--bg-color);
  box-shadow: none;
  color: var(--txt-color);
  font-size: 14px;
  cursor: pointer;
  border: 0.5px solid #515151;
  border-radius: 20px;
  padding: 5px 10.5px;
  font-weight: 500;
}
#but-two{
  background-color: var(--txt-color);
  box-shadow: none;
  color: var(--bg-color);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: 0.5px solid #edecec;
  border-radius: 20px;
  padding: 5px 12px;
}

#but-two:hover{
    background-color: #cacaca;
}

#but-one:hover{
    background-color: rgb(32, 29, 21);}

                              /* ---------------Header section Done------------ */


main{
    max-width: var(--max-w);
    margin: auto;
}

.first-container{
    
    margin-top: 170px;
    font-weight:lighter ;
    /* max-width:var(--max-w) ; */
}
.first-container h1{
    text-align: left;
    font-size: 24px;
    line-height: 30px;

}

.cta button{
    color: var(--bg-color);
    text-decoration: none;
    box-shadow: none;
    padding: 12px 30px;
    margin-top: 23px;
    border-radius: 32px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    
}

.first-container-info{
    margin-top: 56px;
}

.first-container-info img{
    border-radius: 5px;

}