:root{
    --bg-color: rgb(20, 18, 11);
    --txt-color:#edecec;
    --max-w:1300px;
}
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Italianno&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-color);
    font-family:  "Carrois Gothic", sans-serif;
    height: 120vh;
    color: var(--txt-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 69;
}

nav{
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1300px;
    height: 52px;
}

.logo {
    padding: 5px 0px;
}

.midle-nav ul{
    display: flex;
    justify-content: space-between;
    margin-left: 55px;


    
}

.midle-nav ul li{
    list-style: none;
}

.midle-nav ul a{
    text-decoration: none;
    color: var(--txt-color);
    padding: 5.6px 15px;
    font-size: 14px;
    
}

.midle-nav ul a:hover{
    color:#9e9e9e ;
}


.end-nav{
    display: flex;
    justify-content: center;
    gap: 7.5px;
}


#but-one{
  background-color: var(--bg-color);
  box-shadow: none;
  color: var(--txt-color);
  font-size: 14px;
  cursor: pointer;
  border: 0.5px solid #515151;
  border-radius: 20px;
  padding: 5px 10.5px;
  font-weight: 500;
}
#but-two{
  background-color: var(--txt-color);
  box-shadow: none;
  color: var(--bg-color);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: 0.5px solid #edecec;
  border-radius: 20px;
  padding: 5px 12px;
}

#but-two:hover{
    background-color: #cacaca;
}

#but-one:hover{
    background-color: rgb(32, 29, 21);}

                              /* ---------------Header section Done------------ */


main{
    max-width: var(--max-w);
    margin: auto;
}

.first-container{
    
    margin-top: 170px;
    font-weight:lighter ;
    /* max-width:var(--max-w) ; */
}
.first-container h1{
    text-align: left;
    font-size: 24px;
    line-height: 30px;

}
.cta{
    margin-top: 33px;
    
}

#cta-main{
    color: var(--bg-color);
    background-color: var(--txt-color);
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 32px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    border: none;
}
#cta-main:hover{
    cursor: pointer;
    background-color: #cecbcb;
}

.first-container-info{
    margin-top: 72px;
   position: relative;
   margin-bottom: 67px;
}

.first-container-info img{
    border-radius: 5px;
  

}

.overlay-img-one{
    position: absolute;
    top: 116px;
    left: 136px;  
}
.overlay-img-two{
    position: absolute;
    bottom: 79px;
    right: 70px;
}

/* ----------hero section end------------- */

.Trusted-by{
    max-width: var(--max-w);
    margin-top: ;
    text-align: center;
}
.Trusted-by h5{
    margin-bottom:22.4px ;
    font-weight: 200;
    font-size: 14.5px;
}

.all-trustedby-logos{
    display: grid;
    grid-template-columns: repeat(8, 1fr) ;
    column-gap: 10px;
}

.all-trustedby-logos img{
    height: 40px;
    max-width: 100%;
}

.trusted-by-logos{
    height: 100px;
    padding: 7.5px;
    row-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 25, 19);
}